@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html,
body {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

*:not(svg) {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 3rem !important;
  color: #fce38a !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 600 !important;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.fc {
  font-family: "Open Sans", sans-serif;
}

.fc-daygrid-event {
  color: black;
}


.fc-toolbar-title {
  color: #372f1c !important;
  font-size: 1.5rem !important;
  font-family: "Open Sans", sans-serif !important;
}

.fc-button {
  background-color: #fce38a !important;
  border: none !important;
  color: white !important;
  font-weight: 600 !important;
}

.fc-col-header-cell {
  background-color: #fce38a !important;
  color: white !important;
}

.fc-col-header-cell a {
  color: white !important;
}

.calendar-event {
  max-width: 100%; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

@media (max-width: 768px) {
  h2 {
    font-size: 3rem !important;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 2.5rem !important;
  }
}

.title {
  color: #fce38a !important;
  font-size: 6rem !important;
  font-weight: 600 !important;
  letter-spacing: 1px;
}

.navbar-brand img {
  max-height: 80px;
  object-fit: contain;
}

.container-with-navbar {
  height: calc(100vh - 60vh);
}

.circle-button {
  width: 10vw;
  height: 10vw;
  max-width: 125px;
  max-height: 125px;
  min-width: 50px;
  min-height: 50px;
  border: none !important;
  background-color: #fce38a !important;
}

.circle-home-btn {
  width: 5vw;
  height: 5vw;
  max-width: 63px;
  max-height: 63px;
  min-width: 45px;
  min-height: 45px;
  border: none !important;
  background-color: #fce38a !important;
}

.create-btn {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  color: #575550;
  font-weight: 700;
}

.create-btn:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #fce38a;
}

.menu-btn {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  color: #575550;
  font-weight: 700;
}

.menu-btn:hover {
  background-color: #fce38a;
  color: white;
}

.eye-icon {
  color: #1e648e;
}
.pencil-icon {
  color: #bfa5a3;
}

.trash-icon {
  color: #ff5758;
}

.form-control {
  border: none !important;
  border-bottom: 1px solid !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: #fce38a !important;
  box-shadow: none !important;
}

.profile {
  border: 3px solid #fce38a !important;
  border-radius: 10px !important;
}

.profile-table {
  border: 3px solid #fce38a !important;
  border-radius: 10px !important;
}

.card-header {
  background-color: #fce38a !important;
  border: none !important;
  color: white !important;
  font-weight: 600 !important;
}
